@import '~normalize.css';

@import './styles/fonts';
@import './styles/variables';

@import './styles/grid.scss';

.enable-font-features {
  font-feature-settings: 'calt' 1, 'liga' 1;
}

body {
  @extend .enable-font-features;

  margin: 0;
  font-family: $body-font, Arial, Helvetica, sans-serif;

  color: $dark;
  background-color: $light-01;
}

h1, h2, h3 {
  font-family: $title-font, Arial, Helvetica, sans-serif;
  letter-spacing: -0.06em;
}

h1 {
  font-weight: 600;
  font-size: 44px;
}
